<mat-accordion>
  <mat-expansion-panel expanded="false" class="mat-elevation-z2 border-design-concept" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description>
        <div *ngIf="timeRestriction">
          <div *ngIf="timeRestriction.minDate || timeRestriction.maxDate">
            <fa-icon size="sm" icon="clock"></fa-icon>
            <span *ngIf="timeRestriction.tvpe !== timeRestrictionType.BETWEEN">
              {{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.' + timeRestriction.tvpe | translate }}
              {{ getDateFormatted(timeRestriction.minDate) }}
            </span>
            <span
              *ngIf="
                timeRestriction.tvpe === timeRestrictionType.BETWEEN &&
                timeRestriction.minDate &&
                timeRestriction.maxDate
              "
            >
              {{ 'QUERYBUILDER.EDIT.TIMERESTRICTION.BETWEEN' | translate }}
              {{ getDateFormatted(timeRestriction.minDate) }}
              {{ 'QUERYBUILDER.EDIT.AND' | translate }}
              {{ getDateFormatted(timeRestriction.maxDate) }}
            </span>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
