<h3>{{ 'QUERYBUILDER.OVERVIEW.SAVED_QUERIES' | translate }}</h3>
<div *ngFor="let singleQuery of savedQueries; index as i">
  <num-saved-query
    [singleQuery]="singleQuery"
    (reloadSavedQueries)="getSavedQueries()"
  ></num-saved-query>
</div>
<div class="trenner"></div>
<h3>{{ 'QUERYBUILDER.OVERVIEW.SAVED_TEMPLATES' | translate }}</h3>
<div *ngFor="let singleTemplate of savedTemplates; index as i" class="template-box">
  <num-saved-template
    [singleTemplate]="singleTemplate"
    [isValid]="singleTemplate.isValid"
  ></num-saved-template>
</div>
