.input-field {
  width: 100%;
  margin: 0.5em 0;
}

.margin-right-1em {
  margin-right: 1em;
}

.padding-top-2-em {
  padding-top: 2em;
}

.button-save {
  margin: 0 1em 0 1em;
}

.height-85 {
  height: 85%;
}
