<h4 class="padding-top-2-em margin-left-1em">
  Hierfür muss der Datenutzungsantrag erst ausgeführt worden sein
</h4>
<div fxLayout="column">
  <mat-form-field class="input-field">
    <mat-label>{{ 'QUERYBUILDER.OVERVIEW.TITLE_LABEL' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (ngModelChange)="querySaveComparison()"
      [(ngModel)]="title"
      required
      [disabled]="!letQuerySave"
    />
  </mat-form-field>
  <mat-form-field class="input-field" appearance="fill">
    <mat-label>{{ 'QUERYBUILDER.OVERVIEW.COMMENT_LABEL' | translate }}</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [(ngModel)]="comment"
      [disabled]="!letQuerySave"
    ></textarea>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="end">
  <num-button
    [type]="'primary'"
    [isDisabled]="saveButtonDisabled"
    (click)="doSaveQuery()"
    class="button-save"
  >
    {{ 'BUTTON.SAVE' | translate }}
  </num-button>
</div>
