<mat-accordion>
  <mat-expansion-panel expanded fxFill class="mat-elevation-z4 border-design">
    <mat-expansion-panel-header class="padding-top-2 height-3 padding-left-0">
      <mat-panel-title class="mat-expansion-panel-content">
        <div class="align-items-center" fxFill fxLayout="row">
          <div *ngIf="isinvalid">
            <div class="invalid-Criterion">
              <img src="assets/img/alert.png" alt="Validation Alert" />
            </div>
          </div>
          <div class="padding-top-2 padding-left-2 criterion-font-zize">
            {{ criterion.display }}
          </div>
        </div>
      </mat-panel-title>
      <div class="padding-top-2" *ngIf="showCancelButton">
        <button type="button" mat-icon-button (click)="doDelete()">
          <fa-icon icon="trash"></fa-icon>
        </button>
      </div>
      <div class="padding-top-2" *ngIf="showCancelButton">
        <button type="button" mat-icon-button (click)="openDetailsPopUp()">
          <fa-icon icon="edit"></fa-icon>
        </button>
      </div>
    </mat-expansion-panel-header>
    <hr />
    <div *ngIf="criterion.timeRestriction?.minDate" class="margin-bottom-1">
      <num-display-time-restriction
        *ngIf="featureService.useFeatureTimeRestriction()"
        [timeRestriction]="criterion.timeRestriction"
      >
      </num-display-time-restriction>
    </div>
    <num-concept
      *ngIf="attributeDefinitionConcepts"
      [attributeDefinitionConcepts]="attributeDefinitionConcepts"
    ></num-concept>
    <div
      fxLayout="column"
      *ngFor="let filter of getValueFilters()"
      class="mat-elevation-z1 font-time-reestriction border-design-filter time-restriction-container"
    >
      <num-display-value-filter [filter]="filter"> </num-display-value-filter>
    </div>
    <ng-container *ngIf="searchType === 'querybuilder'">
      <div
        *ngIf="criterion.linkedCriteria.length > 0"
        class="mat-elevation-z4 padding-top-2 border-design-concept"
      >
        <div class="mat-elevation-z4 padding-top-2 border-design-concept">
          {{ 'QUERYBUILDER.DISPLAY.REFERENCED_CRITERIA' | translate }}
        </div>
        <num-display-linked-criterion
          *ngFor="let linkedCrit of criterion.linkedCriteria"
          [criterion]="linkedCrit"
          [query]="query"
        ></num-display-linked-criterion>
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
