<div class="query-box" fxLayout="row">
  <div fxLayout="row" fxLayoutAlign="center" class="text-part" (click)="getSingleTemplate()">
    <img
      *ngIf="isInvalid"
      src="assets/img/alert.png"
      alt="Validation Alert"
      class="invalid-Criterion"
    />
    <div fxFlexAlign="center" class="query-box-title">{{ singleTemplate.label }}</div>
    <div fxFlexAlign="center" class="query-box-comment">{{ singleTemplate.comment }}</div>
    <div fxFlexAlign="center" class="query-box-date">
      {{ singleTemplate.lastModified | date : 'dd.MM.yyyy' }}
    </div>
  </div>
</div>
