<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z2 border-design-concept">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Ausgewählte Attribute: {{ selectedConcepts?.length }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <hr />
    <mat-list>
      <ng-container *ngFor="let selectedConcept of selectedConcepts">
        <mat-list-item>
          <span fxFlex="90" class="text-wrap-pretty">
            {{ selectedConcept.display }}
          </span>
          <button mat-list-icon fxLayoutAlign="end" type="button" mat-icon-button>
            <fa-icon icon="times"></fa-icon>
          </button>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
