<div class="container" fxLayout="column">
  <mat-card>
    <mat-card-header class="padding-0">
      <num-search-tree-header
        fxFill
        [categories]="categories"
        [selectedId]="catId"
        (switchCategory)="readTreeData($event)"
      ></num-search-tree-header>
    </mat-card-header>
    <mat-card-header>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option
          [selected]="critType === 'inclusion'"
          class="chip-design"
          (selectionChange)="critType = 'inclusion'"
          >inclusion</mat-chip-option
        >
        <mat-chip-option
          [selected]="critType === 'exclusion'"
          (selectionChange)="critType = 'exclusion'"
          >exclusion</mat-chip-option
        >
      </mat-chip-listbox>
    </mat-card-header>
    <mat-card-content>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ontology-tree">
        <mat-tree-node *matTreeNodeDef="let node">
          <li>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button disabled></button>
              <num-search-tree-term-entry [node]="node"></num-search-tree-term-entry>
            </div>
          </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
          <li>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button matTreeNodeToggle (click)="onToggleLoad(node)">
                <fa-icon icon="chevron-right" *ngIf="!treeControl.isExpanded(node)"></fa-icon>
                <fa-icon icon="chevron-down" *ngIf="treeControl.isExpanded(node)"></fa-icon>
              </button>
              <num-search-tree-term-entry
                [node]="node"
                (toggleEvent)="onToggleLoad($event)"
              ></num-search-tree-term-entry>
            </div>
            <ul [class.ontology-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
      <mat-card-footer>
        <div fxFlex="grow"></div>
        <num-search-tree-footer (addEvent)="openDetailsPopUp($event)"></num-search-tree-footer>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
